@media screen and (max-width:1300px) {
  .container{
      width: 97%;
  }  
}

@media screen and (max-width:730px) {
    .header-flex-2{
        display: none;/*для минималльной ширины убирается шапка,для наглядности*/
    }  
  }

  @media screen and (max-width:600px) {
    .banner-info ,
    .banner-info-two{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
  }